@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

:root {
  --bg-color: #DCA14D;
  --panel-color: #C89142;
  --text-color: #000000;
  --border-color: #000000;
  
  --border-width: 2.5px;
  --radius: 6px;
  --hard-shadow: 5px 5px 0px 0px #000000;
  --hard-shadow-active: 1px 1px 0px 0px #000000;
  
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  border-bottom: var(--border-width) solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}